name: quality-checks

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  psr:
    runs-on: ubuntu-latest
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          coverage: pcov

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: composer install --no-interaction

      - name: Check coding style
        run: composer phpcs:check-summary